/* body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

p {
  /* Tạo khoảng cách giữa các ký tự */
  /* letter-spacing: 20px; */
  /* Tạo khoảng cách giữa các từ */
  /* word-spacing: 20px; */
  /* text-align: justify; */
}

.test {
  /* text-align: center; */
  /* giúp cho mở rộng box chứa text ra bằng box cha (body) */
  /* display: block; */
}

.box {
  /* Đặt chiều cao hình nền bằng trang web */
  /* width: 600px;
  height: 600px; */
  /* Thêm hình nền cho web */
  /* background-image: url(../IMG/la_cay.png), url(../IMG/texture.jpg); */
  /* Lặp hình nền */
  /* background-repeat: no-repeat;
  background-position: 200px 0px; */
}

.box1 {
  /* width: 300px;
  height: 300px; */
  /* Backup màu phòng trường hợp trình duyệt không nhận linear-gradient */
  /* background-color: red; */
  /* Tạo dải màu */
  /* background-image: linear-gradient(to top right, red 20%, blue); */
}

.boxCounter {
  /* tạo 1 biến đếm, reset = 0 */
  /* counter-reset: section2;
  padding: 10px; */
}
h2 {
  /* tăng biến đếm lên 1 */
  /* counter-increment: section2;
  color: red; */
  /* gặp thẻ h2 thì reset thẻ h3 về 0, vì h3 chạy từ 1 */
  /* counter-reset: section3; */
}
h2::before {
  /* thêm trước thẻ h2 */
  /* content: "Phần " counter(section2) ": "; */
}

/* h3 {
  counter-increment: section3;
}
h3::before {
  content: counter(section2) "." counter(section3) ". ";
} */

/* 27/01/2026 */
.content {
  background-color: aquamarine;
  width: 400px;
  height: 900px;
  /* Tạo thanh scroll bar cho thẻ */
  overflow: auto;
}

h2 {
  background-color: yellowgreen;
  /* Định vị phần tử dính lại theo thẻ cha gần nhất có thanh cuộn scroll bar */
  position: sticky;
  top: 0;
}

.img1 {
  /* giúp dàn trang theo chiều ngang, hoặc chữ bao quanh ảnh */
  /* giúp điều chỉnh có chữ bao quanh cái ảnh cây */
  float: left;
}
/* 28/01/2026 */
/* Flexbox CSS */
* {
  font-size: 1.5rem;
}
/* .container {
  display: flex;
  background-color: cyan;
  tạo khoảng cách giữa các item
  gap: 40px;
} */
/* Flexbox CSS justify-content và align-items */
.containerJustiCon {
  background-color: aquamarine;
  height: 300px;
  display: flex;
  /* Căn nội dung cho class */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: stretch; mặc định */
  align-items: baseline;
}
.box {
  background-color: blue;
}
